/* this will always target the first child p element in the article, and we will no longer need to edit the HTML */
article p:first-child {
    font-size: 120%;
    font-weight: bold;
}   


/* what can you do to specify this is a hyper link:
1.different font-family
2.background
3.text-decoration */
p a {
    background-color: rgba(202, 201, 201, 0.582);
    font-size: smaller;
    padding: 2px;
}

p a:link,
p a:visited {
    color: #0073ff;
}

p a:hover {
    text-decoration: none;
}


/* What is a pseudo-element? */
/* you can change the size of your window, then you'll see that the scope of "::first-line" is changing, that is the pseudo-element, it's suggestive. */
div p::first-line {
    font-size: 120%;
    font-weight: bold;
}
