/* DECLARE!!!! */
/* declare my web fonts first so them can be used everywhere */
@font-face {
  font-family: "quicksand";
  src: url(../webfont/quicksand-regular-webfont.woff2) format("woff2"),
  url(../webfont/sourcesanspro-regular-webfont.woff) format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "sourcesanspro";
  src: url(../webfont/sourcesanspro-regular-webfont.woff2);
  font-weight: normal;
  font-style: normal;
}

/* @font-face {
  font-family: "sourcesanspro";
  src: url(../fonts/SourceSansPro-Bold.otf);
  font-weight: bold;
  font-style: normal;
} */

/* General setup */

html {
  font-size: 10px;
  margin: 0;
  font-family: sans-serif;
}

body {
  width: 80%;
  max-width: 800px;
  margin: 0 auto;
}

/* Typography */

h1 {
  /* USE DECLARED FONT!!!(with quote, as it is string.) */
  font-family: "quicksand", sans-serif;
  font-size: 3.2rem;
}

h2 {
  font-family: "quicksand", sans-serif;
  font-size: 2.4rem;
}

p {
  font-family: "sourcesanspro", serif;
  /* font-weight: bold; */
  /* font-weight: lighter; */
  font-size: 1.4rem;
  line-height: 1.6;
  word-spacing: 0.6rem;
  /* 
  
  when styling chinese, I experiment a combination of CSS setting and it looks good:
  line-height: 2.5em;
  letter-spacing: 0.025em; 
  
  */
}