h1 {
    font-family: Consolas, sans-serif;
    /* text-decoration: underline; */
    text-shadow: 2px 2px 2px #cdcdcd;
    text-align: center;
}

p{
    font-family: serif;
    line-height: 1.6;
}

p.myParagraph{
    --myParaWidth: 30em;
    --myParaHeight: 4em;

    color: rgb(50, 0, 99);
    text-decoration: underline;
    /* use a rather big blur-radius will make the text fancy. */
    text-shadow: 1px 1px 7px black;
    font-size: 1.5em;
    text-align: center;


    /* some box model */
    /* width: 200px;
    height: 200px; */
    border: 1px solid black;
    border-radius: 1em;
    background-color: rgba(169, 169, 169, 0.4);
    
    width: var(--myParaWidth);
    height: var(--myParaHeight);
    line-height: 4em;
    
    position: relative;
    left: calc(50% - (var(--myParaWidth) / 2));
    top: calc(50% - (var(--myParaHeight) / 2));

    /* show depth */
    box-shadow: 
    2px 2px 2px black, 
    inset 1px 1px 11px rgba(255, 255, 255, 0.5),
    inset -2px -2px 6px rgba(0, 0, 0, 0.5)
    ;
}