/* 
Make the level one heading pink, using the CSS color keyword hotpink. √
Give the heading a 10px dotted border-bottom which uses the CSS color keyword purple. √
Make the level 2 heading italic. √
Give the ul used for the contact details a background-color of #eeeeee, and a 5px solid purple border. Use some padding to push the content away from the border. √
Make the links green on hover.
 */
body {
    background-color: #fff;
    color: #333;
    font-family: Arial, Helvetica, sans-serif;
    padding: 1em;
    margin: 0;
}

h1 {
    color: hotpink;
    font-size: 2em;
    font-family: Georgia, 'Times New Roman', Times, serif;
    border-bottom: 10px dotted purple;
}

h2 {
    font-size: 1.5em;
    font-style: italic;
}

ul {
    background-color: #eeeeee;
    border: 5px solid purple;
    padding: 40px;
}

.job-title {
    color: #999999;
    font-weight: bold;
}

a:link,
a:visited {
    color: #fb6542;
}

a:hover {
    color: green;
    text-decoration: none;
}