/* 
What is Cascading:
  The CSS language has rules to control which selector is stronger in the event of a conflict. 
  These rules are called cascade and specificity. In the code block below, we define two rules for the p selector, 
  but the paragraph text will be blue. This is because the declaration that sets the paragraph text to blue appears later in the stylesheet. 
  Later styles replace conflicting styles that appear earlier in the stylesheet. This is the cascade rule.
*/

/* Structure:
 Selector {
  Declaration Block as follow:
  Declaration1
  Declaration2
  Declaration3
}
 */


h1 {
    color: red;
}

p,
li {
    color: green;
}

/* In your CSS, you can target the element which have a class of special by creating a selector that starts with a full stop character. Add the following to your CSS file: */
.special {
    color: orange;
    font-weight: bold;
}

/* This syntax means "target any li element that has a class of special". If you were to do this, 
then you would no longer be able to apply the class to a <span> or another element by adding the class to it; 
you would have to add that element to the list of selectors: */
li.special
    {
  color: orange;
  font-weight: bold;
}

/* This selector will select any <em> element that is inside (a descendant of) an <li>. So in your example document, 
you should find that the <em> in the third list item is now purple, but the one inside the paragraph is unchanged. */
li em {
    color: rebeccapurple;
}
  
/* Something else you might like to try is styling a paragraph when it comes directly after a heading at the same hierarchy level in the HTML. 
To do so, place a + (an adjacent sibling combinator) between the selectors. */
h1+p {
    font-size: 200%;
}
  
/* TEST: Try adding a rule to make a span red if it is inside a paragraph. */
p span {
    color: red;
}

/* HYPERLINK (to learn state) */
a:link {
    color: pink;
  }
a:visited {
    color: rgb(0, 48, 116);
  }
/* this is COOOOOOOOOOOL! */
a:hover {
  text-decoration: none;
}

/* This will style any element with a class of special, which is inside a <p>, which comes just after an <h1>, which is inside a <body>. Phew! */
/* tips:
if there is no blank space between "p" and ".special", it means that the p element with a class of special, which comes just after... 
But there is a blank space between "p" and ".special", so it mean an element with a class of special, which is inside a <p>, which comes just after...*/
body h1 + p .special {
  color: yellow;
  background-color: black;
  padding: 5px;
}

